{% extends 'bookapp/layout.html' %}

{% block title %}Главная страница{% endblock %}

{% block body %}
    <h1>Список книг</h1><br>
    {% if user.is_authenticated %}
        <a href="{% url 'create' %}" class="btn btn-primary">Добавить книгу</a><br>
    {% endif %}
    <ul>
        {% for p in books %}
        <li>
            <h2>{{ p.title }}</h2>
            <p>{{ p.author }}</p>
            <p>{{ p.price }} руб.</p>
            <hr>
            {% if user.is_authenticated and user.role == "admin" %}
                <a href="{% url 'update' p.id %}" class="btn btn-info">Изменить</a>
                <a href="{% url 'delete' p.id %}" class="btn btn-danger">Удалить</a>
            {% endif %}
        </li>
        {% endfor %}
    </ul>

    {% if is_paginated %}
        <div class="pagination">
            <span class="page-links">
                {% if page_obj.has_previous %}
                    <a href="?page={{ page_obj.previous_page_number }}">Предыдущая</a>
                {% endif %}
                <span class="page-current">
                    Страница {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}
                </span>
                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}">Следующая</a>
                {% endif %}
            </span>
        </div>
    {% endif %}
{% endblock %}