body {
    display: flex;
    flex-direction: column; /* Выстраиваем элементы по вертикали */
    justify-content: flex-start; /* Располагаем все элементы сверху */
    align-items: center; /* Выравниваем все элементы по горизонтали */
    background-color: #f8f9fa;
    margin: 0;
    padding: 20px;
    height: 100vh; /* Устанавливаем высоту страницы */
}

.form-container {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

button {
    margin-top: 20px; /* Отступ сверху у кнопки */
    padding: 10px 20px;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #0056b3;
}

form {
    display: flex;
    flex-direction: column; /* Элементы формы идут по вертикали */
    align-items: center; /* Выравнивание всех элементов по центру */
    background: white;
    padding: 20px;
    border-radius: 10px;
    width: 100%;
    max-width: 400px;
}

ul {
    list-style-type: none; /* Убираем маркеры списка */
    padding: 0;
    width: 100%;
    max-width: 800px; /* Ограничиваем ширину списка */
    margin: 0 auto; /* Центрируем список на странице */
}

li {
    background: #ffffff;
    padding: 20px;
    margin-bottom: 15px; /* Отступ между книгами */
    border-radius: 10px; /* Скругляем углы */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

li p {
    margin: 5px 0; /* Отступы между параграфами */
    color: #555555; /* Цвет текста для автора и цены */
}
